<p id="notice"><%= notice %></p>

<center><h1>Organizations</h1></center>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Organization</th>
        <th>General Manager</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @teams.each do |team| %>
        <tr>
          <td><%= link_to team.name, team %></td>
          <td><%= link_to team.general_manager, team %></td>
          <td><%= link_to 'Show', team %></td>
          <td><%= link_to 'Edit', edit_team_path(team) %></td>
          <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

</br>

<%= link_to 'New Team', new_team_path %>
