<p id="notice"><%= notice %></p>

<h1 class="playersindexh1">Players Database</h1>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Dob</th>
        <th>Position</th>
        <th>College</th>
        <th>Debut</th>
        <th>Bats</th>
        <th>Throws</th>
        <th>Height</th>
        <th>Organization</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @players.each do |player| %>
        <tr>
          <td><%= link_to player.first_name, player %></td>
          <td><%= link_to player.last_name,  player %></td>
          <td><%= link_to player.DOB,        player %></td>
          <td><%= player.position %></td>
          <td><%= player.college %></td>
          <td><%= player.debut %></td>
          <td><%= player.bats %></td>
          <td><%= player.throws %></td>
          <td><%= player.height %></td>
          <td><%= link_to player.team.name, player.team   %></td>
          <td><%= link_to 'Show', player %></td>
          <td><%= link_to 'Edit', edit_player_path(player) %></td>
          <td><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<%= link_to 'New Player', new_player_path %>
