<p id="notice"><%= notice %></p>

<div class="playerprofile">
  <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Player Profile</div>
  <div class="panel-body">
    <p>...</p>
  </div>

  <!-- Table -->
  <table class="table">
    <thead>
      <tr>
        <th>First Name:</th>
        <th>Last Name:</th>
        <th>DOB:</th>
        <th>Position:</th>
        <th>College:</th>
        <th>Debut:</th>
        <th>Bats:</th>
        <th>Throws:</th>
        <th>Height:</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><%= @player.first_name %></td>
        <td><%= @player.last_name %></td>
        <td><%= @player.DOB %></td>
        <td><%= @player.position %></td>
        <td><%= @player.college %></td>
        <td><%= @player.debut %></td>
        <td><%= @player.bats %></td>
        <td><%= @player.throws %></td>
        <td><%= @player.height %></td>
      </tr>
    </tbody>
  </table>
  </div>
</div>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
